<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>{{title}} - PWA Pilipinas</title>
    <meta name="description" content="{{descriptionHeader}}" />
    <meta property="og:url" content="https://pwapilipinas.org/event/{{id}}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="{{description}}" />
    <meta property="og:image" content="{{coverUrl}}" />
    <style>
        .brand {
            height: 600px !important;
            width: 100% !important;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-color: gainsboro;
        }
        .organization {
            display: flex;
            align-items: center;
            margin-bottom: 50px;
            cursor: pointer;
        }

        .date {
            font-weight: 900;
            color: #ECB800;
            font-size: 30pt;
        }

        .button_container {
            margin-top: 40px;
            margin-bottom: 40px;
        }

        button.primary {
            background-color: #ECB800;
            padding: 15px;
            border: 0;
            border-radius: 12px;
            font-size: 12pt;
            cursor: pointer;
            width: 100%;
        }

        button.primary:hover {
            filter: brightness(90%);
        }

        button.primary:focus {
            outline: none;
        }

    </style>
</head>

<body>
    <nav class="app-nav">
        <div class="app-nav__actual">
        <img class="app-nav__logo" src="../assets/img/pwaph-logo-small.png" alt="PWA Pilipinas logo" onclick="window.location.replace('/')">
        <ul class="app-nav__menu-list">
            <li class="app-nav__menu-item">
                <button class="primary" onclick="window.location.replace('https://app.pwapilipinas.org/event/{{id}}')">
                    Open in App
                </button>
            </li>
        </ul>
    </div>
    </nav>
    <main class="app-main" style="margin-top: 20px; padding-bottom: 150px;">
        <div style="margin-left: 5%; margin-right: 5%;">
            <center>
                <img src="{{coverUrl}}" width="100%">
            </center>
            <h1>{{title}}</h1>

            <div style="margin-top: 50px;">
                <div style="display: flex;">
                    <div style="margin-right: 30px; text-align: center;">
                        <span>{{month}}</span><br>
                        <span class="date">{{day}}</span>
                    </div>
                    <div>
                        <span style="display: flex; align-items: center;">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-right: 10px;">
                                <path d="M12 2C6.486 2 2 6.486 2 12C2 17.514 6.486 22 12 22C17.514 22 22 17.514 22 12C22 6.486 17.514 2 12 2ZM12 20C7.589 20 4 16.411 4 12C4 7.589 7.589 4 12 4C16.411 4 20 7.589 20 12C20 16.411 16.411 20 12 20Z" fill="black"/>
                                <path d="M13 7H11V12.414L14.293 15.707L15.707 14.293L13 11.586V7Z" fill="black"/>
                            </svg>
                            {{startTime}} - {{endTime}}
                        </span>
                        <span style="display: flex; align-items: center;">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-right: 10px;">
                                <path d="M12 14C14.206 14 16 12.206 16 10C16 7.794 14.206 6 12 6C9.794 6 8 7.794 8 10C8 12.206 9.794 14 12 14ZM12 8C13.103 8 14 8.897 14 10C14 11.103 13.103 12 12 12C10.897 12 10 11.103 10 10C10 8.897 10.897 8 12 8Z" fill="black"/>
                                <path d="M11.4201 21.814C11.5893 21.9349 11.7921 21.9998 12.0001 21.9998C12.2081 21.9998 12.4108 21.9349 12.5801 21.814C12.8841 21.599 20.0291 16.44 20.0001 10C20.0001 5.589 16.4111 2 12.0001 2C7.58909 2 4.00009 5.589 4.00009 9.995C3.97109 16.44 11.1161 21.599 11.4201 21.814ZM12.0001 4C15.3091 4 18.0001 6.691 18.0001 10.005C18.0211 14.443 13.6121 18.428 12.0001 19.735C10.3891 18.427 5.97909 14.441 6.00009 10C6.00009 6.691 8.69109 4 12.0001 4Z" fill="black"/>
                            </svg>
                            {{venue}}                            
                        </span>
                    </div>
                </div>
            </div>

            <div class="button_container">
                <button class="primary" onclick="window.location.replace('https://app.pwapilipinas.org/event/{{id}}')">
                    Open in PWA Pilipinas App
                </button>
            </div>

            <div class="organization" style="margin-top: 40px;">
                <div style="text-align: left;">
                    <span style="font-size: 10pt; color: grey;">Organized by</span><br>
                    <span>{{organization.name}}</span>
                </div>
            </div>

            <div style="white-space: pre-wrap; margin-top: 50px;">{{description}}</div>
        </div>
    </main>
    <footer class="app-footer">
            <p style="text-align: center; margin-top: 32px; margin-bottom: 4px;">Like and follow us</p>
            <ul class="app-footer__social-links">
                    <li>
                        <a class="app-footer__social-link" href="https://fb.com/pwapilipinas">
                            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                <path fill="#000000"
                                    d="M17,2V2H17V6H15C14.31,6 14,6.81 14,7.5V10H14L17,10V14H14V22H10V14H7V10H10V6A4,4 0 0,1 14,2H17Z" />
                            </svg>
                        </a></li>
                    <li>
                        <a class="app-footer__social-link" href="https://twitter.com/pwapilipinas">
                            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                <path fill="#000000"
                                    d="M22.46,6C21.69,6.35 20.86,6.58 20,6.69C20.88,6.16 21.56,5.32 21.88,4.31C21.05,4.81 20.13,5.16 19.16,5.36C18.37,4.5 17.26,4 16,4C13.65,4 11.73,5.92 11.73,8.29C11.73,8.63 11.77,8.96 11.84,9.27C8.28,9.09 5.11,7.38 3,4.79C2.63,5.42 2.42,6.16 2.42,6.94C2.42,8.43 3.17,9.75 4.33,10.5C3.62,10.5 2.96,10.3 2.38,10C2.38,10 2.38,10 2.38,10.03C2.38,12.11 3.86,13.85 5.82,14.24C5.46,14.34 5.08,14.39 4.69,14.39C4.42,14.39 4.15,14.36 3.89,14.31C4.43,16 6,17.26 7.89,17.29C6.43,18.45 4.58,19.13 2.56,19.13C2.22,19.13 1.88,19.11 1.54,19.07C3.44,20.29 5.7,21 8.12,21C16,21 20.33,14.46 20.33,8.79C20.33,8.6 20.33,8.42 20.32,8.23C21.16,7.63 21.88,6.87 22.46,6Z" />
                            </svg>
                        </a>
                    </li>
                    <li><a class="app-footer__social-link" href="https://www.linkedin.com/company/pwa-pilipinas/">
                            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                <path fill="#000000"
                                    d="M21,21H17V14.25C17,13.19 15.81,12.31 14.75,12.31C13.69,12.31 13,13.19 13,14.25V21H9V9H13V11C13.66,9.93 15.36,9.24 16.5,9.24C19,9.24 21,11.28 21,13.75V21M7,21H3V9H7V21M5,3A2,2 0 0,1 7,5A2,2 0 0,1 5,7A2,2 0 0,1 3,5A2,2 0 0,1 5,3Z" />
                            </svg>
                        </a>
                    </li>
                </ul>
    </footer>
</body>

</html>